<h1><%= @city %></h1>
<ul>
  <li>Current: <%= @current_temp %>&deg;</li>
  <li>High: <%= @high_temp %>&deg;</li>
  <li>Low: <%= @low_temp %>&deg;</li>
  <li><%= @current_weather %></li>
</ul>
<table id="forecast_periods">
  <tbody>
    <%= render @forecast_periods %>
  </tbody>
</table>
