<h1><%= @city %></h1>
<ul>
  <li>Current: <%= @current_temp %>&deg;</li>
  <li>High: <%= @high_temp %>&deg;</li>
  <li>Low: <%= @low_temp %>&deg;</li>
  <li><%= @current_weather %></li>
</ul>
Here is your weather forecast.
