<h1><%= @forecast.city %></h1>
<ul>
  <li>Current: <%= @forecast.current_temp %>&deg;</li>
  <li>High: <%= @forecast.high_temp %>&deg;</li>
  <li>Low: <%= @forecast.low_temp %>&deg;</li>
  <li><%= @forecast.current_weather %></li>
</ul>
<table id="forecast_periods">
  <tbody>
    <%= render @forecast.forecast_periods %>
  </tbody>
</table>
