<h1><%= @forecast.city %></h1>
<ul>
  <li>Current: <%= @forecast.current_temp %>&deg;</li>
  <li>High: <%= @forecast.high_temp %>&deg;</li>
  <li>Low: <%= @forecast.low_temp %>&deg;</li>
  <li><%= @forecast.current_weather %></li>
</ul>
<% unless @forecast.newly_fetched? %>
  <p><i>Forecast data is <%= time_ago_in_words(@forecast.fetched_at) %> old.</i></p>
<% end %>
<table id="forecast_periods">
  <tbody>
    <%= render @forecast.forecast_periods %>
  </tbody>
</table>
